/* ------------------------------------------------------------------------------
 *
 *  # Custom Style
 *
 *
 * ---------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');


.navbar-dark {
	background-color: #1D1D1B !important;
}

.navbar-nav-link:hover {
    color: #fff;
    background-color: #fabc12 !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #0f0f0f !important;
    text-decoration: none;
    background-color: #fabc12 !important;
}

.app-title{
	font-family: 'Montserrat', sans-serif;
	display: block;
    font-size: 2em;
	color: #1D1D1B;	
}

.form-login-logo{
	    max-width: 250px;
	    margin: 30px 0px;
}

/* --------------------------------------*/
/*             F O R M S                 */ 
/* --------------------------------------*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* --------------------------------------*/
/*             A L E R T S               */ 
/* --------------------------------------*/
.swal2-content {
    font-size: 1.5em;
}

/* --------------------------------------*/
/*              F O O T E R 
/* --------------------------------------*/

.footer-logo{
	width: 160px;
}

/* --------------------------------------*/
/*              DOWNLOADS 
/* --------------------------------------*/


.my-file { 
    visibility: hidden; 
    width: 0px;
}

/* --------------------------------------*/
/*              PRODUCTO
/* --------------------------------------*/

.thumbs-list{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;    
}

.button-container {
    position: absolute;
}

.img-thumb{
    width: 220px;
    margin-bottom: 15px;
    border: 1px solid #efefef;
}

.imageInput { 
    visibility: hidden; 
    width: 0px;
}

.label-input{
    width: 100%;
}

.label-detail{
    font-size: 0.9em;
    color: #777;
    float: right;
    font-style: oblique;
    margin-right: 10px;
}

/* --------------------------------------*/
/*              ORDERS
/* --------------------------------------*/
.cust-btn-group {
    justify-content: center;
    margin-right: 0rem;
}


.border-left-monsa{
    border-left: 2px #f6c145 solid;
}

tr:hover {
    /* background-color: #f7f7f7; */
}


.bg-yellow {
    background-color: #f6c145!important;
    /* color:#333; */
    color: #444 !important;
}