.product_image_area {
    padding-top: 25px;
    margin-bottom: 60px;
}

dl{
    font-size: 18px;
    line-height: 30px;
    font-family: 'EXO 2';    
}


dt {
    color: #333;
    text-transform: uppercase;
}

dd {
    min-height: 24px;
    color: #212529;
}

.dt-separador {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin-top: 10px;
}


.product_count label {
    font-size: 18px;
    color: #333;
}

.product-single-carrousel-arrow {
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    margin: 5px;
    margin-top: 50px;
}

.discount-label {

    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    font-size: 15px;    
    font-weight: bold;
    border-radius: 3px;
    letter-spacing: 1px;
    margin-bottom: 10px;

}