

.product-img {
    width: 225px;
    height: 250px;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    align-items: center; /* vertical */
    justify-content: center;     
}

.product-img-list{
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    align-items: center; /* vertical */
    justify-content: center; 
}

.single-product img{
    /* width: 100%; */
    height: 250px;
}

.single-product-list img{
    height: 100px;

}

.discount-label {
    position: absolute;
    top: 8px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    z-index: 1;
}
.product-img {
    position: relative;
}