/*******************************
* 0 - GENERAL
* 1 - SIDE CART
* 2 - NAV BAR
* 3 - CART
* 4 - PEDIDOS
* 5 - NAVBAR 
* 6 - SHOP
* 7 - HOME
* 8 - PRODUCTOS DESTACADOS
*******************************/
/* Para Chrome, Safari, Edge y Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.banner-area{
  display: none;
}

.d-none{
  display: none;
}

.mb-25{
  margin-bottom: 25px;;  
}

.badge {
  display: inline-block;
  padding: .3125rem .375rem;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .125rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #fff;
}

.bg-danger {
  background-color: #f44336!important;
}

.bg-yellow {
  background-color: #f6c145!important;
  color: #444 !important;
}

.bg-success {
  background-color: #4caf50!important;
}

/*******************************/
/** 0 - G E N E R A L      *****/
/*******************************/
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}

.w-20{
  width: 20px;
}

.box-shadow{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  padding: 20px 10px 50px 10px;
  margin-top: 10px;
}

.head {
  line-height: 60px;
  background-image: linear-gradient(120deg, #ffba00 0%, #ff6c00 100%);
  background-image: -webkit-linear-gradient(120deg, #ffba00 0%, #ff6c00 100%);
  background-image: -moz-linear-gradient(120deg, #ffba00 0%, #ff6c00 100%);
  background-image: -o-linear-gradient(120deg, #ffba00 0%, #ff6c00 100%);

  padding: 0 30px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

/*Preloader*/
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #FE7700;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

span.cart-count {
  background-color: #fff;
  color: #212529;
  border-radius: 10px;
  vertical-align: super;
  font-size: 0.8em;
  width: 18px;
  line-height: 18px;
  display: inline-block;  
}


ul.pagination li.active a {
  background-color: #212529;
  color: #fff;
}
.pagination a:hover {
  color: #212529;
}
/*******************************/
/** 1 - S I D E   C A R T  *****/
/*******************************/

.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    height: 100%;
}

.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}
    
/*Right*/
.modal.right.fade .modal-dialog {
    right: 0px;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 4px;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #A1F500;

}

div#side-cart {
  z-index: 9999;
}

.side-cart-table input{
  width: 50px;
  text-align: right;
  border: none;
  outline: none;
  border-bottom: 1px solid #DDDDDD;
}
 
.side-cart-table input:focus{
  border-bottom: 1px solid #ffc108;
}


.side-cart-table input[type=number]::-webkit-inner-spin-button, 
.side-cart-table input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}

@media (min-width: 576px){
  .modal-dialog {
      min-width: calc(calc(100% / 3)*2);
      margin: 1.75rem auto;
  }
}

/*******************************/
/** 2 -  N A V  B A R      *****/
/*******************************/

.btn{

}

.btn-br-0 {
    border: none;
    margin-right: 5px;
}

.btn-nav-orders {
  text-transform: uppercase;
  font-family: "Exo 2";
  font-weight: 600;
  padding: 0px;
  display: inline-block;
  color: #eee;  
}

.btn-nav-orders:hover {
  background-color: none;
  
  text-decoration: underline;
  color: #A1F500;
  /* color: #000; */
}

.btn-outline-warning{
  color: #fff;
}

.btn-outline-warning:hover {
  color: #A1F500;
  background-color: #000;
  text-decoration: underline;

}


/*******************************/
/** 3 -   C A R T          *****/
/*******************************/
.spinner {
    width: 100%;
    height: 400px;
    margin-top: 100px;
    text-align: center;
}

.form-cart{
  display: none;
}

.cust-btn{
    line-height: 30px;
    border-radius: 3px;
    padding: 0px 20px;
    display: inline-block;
    font-weight: 500;
    /*margin-left: 20px;*/
}

a.cust-btn {
    margin-right: 10px;
}

.guardar-pedido

.primary-btn{

}
.qty{
  text-align: right;
}

.form-control:focus {
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
  border-color: #ced4da;

}
.btn-add-cart{
  background-color: #222222;
  color: #fff;
}

.btn-add-cart:hover{
  color:#A1F500;
}

.gray_btn{
  background: #eeeeee;
  border: 1px solid #eeeeee;
  color: #222222;
}

.gray_btn:hover{
    color: #ffba00;
    background-color: #333;
}

.form-cart label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

#nota-cart {
    font-size: 14px;
    line-height: 19px;
}


/*.checkout_btn_inner{
  float: right;
}*/


.cart-list-table input{
  width: 70px;
  text-align: right;
  border: none;
  outline: none;
  border-bottom: 1px solid #DDDDDD;
}

.cart-list-table input{

}
 
.cart-list-table input:focus{
  border-bottom: 1px solid #ffc108;
}

.cart-list-table input[type=number]::-webkit-inner-spin-button, 
.cart-list-table input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}

.cart-list-table tr:first-child th {
    border-top: none !important;
    margin-top: 0px !important;
    background-color: #eeeeee;
}

.section-title{
  display: flex;
  justify-content: space-between;

}

.izi-btn-confirm{
  
}
.izi-btn-confirm {
  background-color: green !important;
  color: #fff !important;
}

.izi-btn-cancel{
  background-color: #dc3545 !important;
  color: #fff !important;
}



/*******************************/
/** 4 -  P E D I D O S     *****/
/*******************************/
input[type="search"] {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 4px;
}

table.dataTable tbody tr.even {
    background: #dee2e6;
}

table.dataTable tbody tr:hover {
    background: #ffc108;
}

.tr-active{
  background: #ffc108; 
}

.detail-item {
    font-weight: bold;
    color: #333;
    font-size: 15px;
    line-height: 24px;
}

.pedido-detail {
    display: none;
    margin-bottom: 20px;
    background-color: #efefef;
    padding: 15px 10px;
    border-radius: 4px;
}

.pedido-detail span {
    font-weight: 400;
}

#orders_list {
    font-size: 0.9em;
}

.text-center{
  text-align: center
}
/*******************************/
/** 5 -  N A V B A R       *****/
/*******************************/

.nav-user{
  margin-left: 10px;
}

.nav-user a {
    text-transform: uppercase;
    font-family: "Exo 2";
    /* font-size: 0.9em; */
    font-weight: 600;
    padding: 0px;
    display: inline-block;
    color: #eee;    
}

.nav-user a:hover {
  color: #ffba00 !important;
}

.nav-user i {
    margin-right: 5px;
}

.nav-user ul {
    background-color: #0f1415 !important;
}

.nav-user li.nav-item {
    padding: 10px 3px;
}

/*.nav-user li.nav-item:hover,
.nav-user li.nav-link:hover{
    background: #ffba00;
    color: #fff !important;
}*/

/*******************************/
/** 6 -  S H O P           *****/
/*******************************/
  .filter-h {
    font-family: "Exo 2";
    font-size: 2em;
    margin-top: 25px;
    margin-left: 5px;
    color: #333;
  }

  .sep {
      max-width: 50px;
      background: #000;
      height: 5px;
      margin-top: 10px;
      margin-left: 5px;
      margin-bottom: 20px;
  }

#item-number {
    height: 30px;
    max-width: 40px;
    /* text-align: right; */
    padding: 0px;
    border: 2px solid #dfdfdf;
    color: #666;    
}

#search {
    border: 2px solid #ddd;
    border-radius: 3px;
    width: 85%;
    height: 50px;
    font-size: 24px;
}

  #btn-search{
    height: 50px;
    padding: 0px 12px;
    border: none;
  }

  #btn-search:hover{
    color: #ffba00;
    background-color: #333;
  }

  .shop-buttons {
      font-size: 12px;
      /* margin-bottom: 15px; */
      text-align: right;
  }

  .cust-btn {
      padding: 0px 12px;
      margin-left: 0px;
      line-height: 30px;    
      font-size: 12px;
      margin-bottom: 5px;
      text-align: right;        
  }

  .cust-btn i {
      padding-right: 10px;
  }
  .single-product {
    height: 90%;
    width: 100%;
  }

  .quantity-visible, .no-quantity-visible {
    display: flex;
    /* margin-top: auto; */
    /* margin-bottom: 20px; */
    justify-content: space-between;

  }


  .quantity-visible input {
    width: 40%;
}

  .product-details {
    display: flex;
    flex-direction: column;
    /* height: 270px; */
}

  .price{
    margin-top: 30px;
  }

  .category-list .single-product {
      margin-top: 30px;
      padding: 20px 20px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      border-radius: 4px;
      transition: all 0.25s ease-in-out;
  }

  .single-product:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

 .category-list .single-product-list {
      margin-top: 15px;
      padding: 20px 10px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      border-radius: 4px;
      transition: all 0.25s ease-in-out;
  }

  .single-product-list:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  .single-product-list .img-prod {
      height: 60px;
      margin-bottom: 0px;
  }

  .single-product-list .product-details a {
      font-size: 16px;
  }

  .single-product-list .product-details a:hover {
      color: #333;
  }  

  .single-product .product-details span {
      font-size: 13px;
      line-height: 19px;
      max-height: 40px;
      overflow: hidden;      
  }

  .single-product:hover span {
    max-height: 60px;
    transition: all 0.25s ease-in-out;
}

  .single-product-list .add-bag {
    margin-top: 0px;
    text-align: center;
    /*float: right;    */
  }
  
  .single-product-list .add-bag .cust-btn{
    margin-left: 0px;
    padding: 0px 10px;
  }

  .img-prod {
      /*width: 250px;*/
      height: 250px;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
      margin-bottom: 10px;
  } 

  .p-price {
      font-size: 2em;
      color: #333;
      font-weight: bold;
  }
  .p-price-promo {
      font-size: 1.5em;
      color: #777777;
      font-weight: bold;
      text-decoration: line-through;
  }

  .price_list p.p-price {
    font-size: 1.5em;
  }

  .category-list .single-product {
      margin-top: 0px;
  }
  
  /* .add-bag {
      margin-top: 10px;
  } */

  .add_cart {
      border: none;
  }

  .single-product-list input{
    text-align: right;
    outline: none;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    height: 35px;
    float: right;    
  }
   
  .single-product-list input:focus{
    border: 2px solid #ffc108;
    outline: none;
    box-shadow: none;
  }


  .single-product-list input[type=number]::-webkit-inner-spin-button, 
  .single-product-list input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0;
  }


  input.quantity {

    font-family: "Exo 2";
    height: 40px;
    font-size: 16px;
    text-align: right;  
    width: 50px !important;
    flex-grow: 0 !important;
  }


  .quantity-visible .input-group{
    width: 60% !important;
  }

  .no-quantity-visible input.quantity  {
    display: none; 
    /* width: 70px;
    margin-left: 20px;
    max-width: 40px;
    padding: 0px; */
  }

  .single-product-list p.p-price {
      margin-bottom: 0px !important;
      line-height: 20px;
  }  

  .pagination{
    border-left: none;
    margin-top: 20px;;
  }

  .pagination a {
      font-size: 15px;
  }

  .pagination a {
      line-height: 3em;
      font-size: 1em;
      width: 3em;
      border-radius: 4px;
  }  

  ul.pagination li {
      margin-left: 3px;
  }

  .attr-box {
    margin-left: 10px;
    margin-top: 6px;
  }

  button#add_cart {
      margin: 0px;
      height: 40px;
  }

  .add_cart_list{
    border:none;
    margin-top: 6px !important;
    height: 30px !important;
  }
  
  .price_list {
    margin-top: 10px;
}

  .variation-btn{
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }


/*******************************/
/** 7 -  H O M E           *****/
/*******************************/

    .single-features.last-child {
        border-right: none;
    }

    .container.family-container {
        /*border: 1px solid #f7f7f7;
        border-radius: 4px;*/
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        text-align: center;
    }

    .family-area .family-inner:first-child {
        border-top: solid 1px #eae6e6;
    }

    .family-inner {
        border-bottom: 1px solid #eae6e6;
    }

    .family-area .family-inner:last-child {
        border-bottom: none;
    }

    .single-family {
        color: #505050;
        text-transform: uppercase;
        font-size: 1.2em;
/*        font-weight: 600;  */
        padding: 0px; 
        border-bottom: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;          
    } 

    .single-family:hover {
        color: #ffffff !important;
        background: -webkit-linear-gradient(120deg, #ffba00 0%, #ff6c00 100%);
    }

    a.family-link {
        transition: none !important;
    }

    a.family-link p{
        transition: none !important;
        color: inherit !important;
        margin-bottom: 0px;
        height: 150px;
        padding: 50px 15px;
    }

    .family-widget {
        /*border: 1px solid #444;*/
        height: 100%;
        width: 100%;
    }


    .banner-fix{
        height: 500px;!important;
        margin-top: 10px;
    }


    .slider-btn{
        width: 200px;
        line-height: 5vh;
        text-align: center;
        color: #333 !important;
        font-size: 1.5em;
        font-weight: bold;
    }
    
    .slider-btn:hover{
        cursor: pointer !important;
    }
    
    #slider-1{
      background-color: #ffffff;
      height: 500px;
    }

    .slider1_img{
        max-width: 100%;
    }

    #slider-2{
      background: url(../../img/banner/slider-2/background.png);
      background-size: cover;
      height: 500px;
    }
    
    .slider2_logo{
        max-width: 200px !important;
    }
    
    .slider2_img{
        max-width: 100%;
    }

    #slider-3{
        background: url(../../img/banner/slider-3/background.png);
        background-size: cover;
        height: 500px;
    }

    .slider3_img{
        max-width: 750px;
        margin: auto;
    }

    #slider-4{
        background: url(../../img/banner/slider-4/background.jpg);
        background-size: content;
        height: 500px;
    }

    #slider-4 h4{
        color: #fff;
        margin: 30px auto 10px;

        font-weight: bold;
        font-size: 2em;
    }
    
    .slider4_img{
      max-width: 200px;
      margin-left: auto;
    }

    .slider4_logo{
      max-width: 200px;
      margin: auto;

    }

    .slider-detail{
        /*border-left: solid 1px #fff;*/
        /*margin-bottom: 30px;*/
        padding-right:30px;
    }

    .slider-detail p{
        color:#fff;
        padding-top: 50px ;
        padding-bottom: 50px ;
    }

/*******************************/
/** 8 - PRODUCTOS DESTACADOS  **/
/*******************************/
    .related-product-area{
      background-color: #fbfbfb;
    }

    .featured-box {
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        border-radius: 20px;
        padding: 15px;    
        background-color: #fff;    
    }

    .featured-box:hover {
        -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    .productos-small img {
        width: 80px;
    }

/**/
/* #active-filters button {
    background: transparent;
    border: transparent;
    color: #dfdfdf;  
    cursor: pointer;
} */

#active-filters {
    display: flex;
    /* display: inline-block; */
    width: 100%;
}

#active-filters li {
  margin-right: 5px;
}

/* .single-filter {
  margin: 5px;
  padding: 3px 10px;
  border-radius: 3px;
  color: #666666;
  border: 1px solid #dfdfdf;
}

.single-filter:hover {
    color: #333;
    border-color: #333;
} */

/* .single-filter:hover  ~ #active-filters button {
  color: #333;
} */

/*DETALLE PRODUCTO*/

.attr-line{
  line-height: 2em;
  margin-bottom: 5px;
}

.attr-nombre{
  width: 120px;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
}

.attr-value{
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  padding: 0px 10px;
  margin-right: 6px;
  margin-bottom: 6px;
  cursor: pointer;
  display: inline-block;
  min-width: 30px;
  text-align: center;
}

.attr-value:hover{
/*    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);*/
    border: 1px solid #666;
}

.attr-active{
  background-color: #ffc107;
  color: #333;
  border: 1px solid #666;
  font-weight: bold;
}

.car-table {
  font-size: 12px;
}

/*******************************/
/** 9 - BOTÓN WHATSAPP        **/
/*******************************/

.wsp_float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.wsp_my-float{
	margin-top:16px;
}

.download-link{
  width: 100%;
}
.fancybox-content{
  padding:0px !important;
}
.fancybox-content img{
  cursor:pointer !important;
}

button.fancybox-button.fancybox-close-small {
  color: #ffffff !important;
  background-color: #000 !important;
}