
@font-face {
    font-family: 'Neue';
    src: url('/pedidosweb/resources/fonts/neue/NeuePowerTrial-Regular.woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Neue';
    src: url('/pedidosweb/resources/fonts/neue/NeuePowerTrial-Bold.woff2');
    font-weight: 600;
    font-style: bold;
}
@font-face {
    font-family: 'Neue';
    src: url('/pedidosweb/resources/fonts/neue/NeuePowerTrial-Heavy.woff2');
    font-weight: 800;
    font-style: heavy;
}